@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.bdr {
	border: 1px solid #ff0000;
}


body {
	background-color: #04011e;
	background-image: url("../images/body-bg.png");
    background-position: 100% 0;
    background-repeat: repeat-y;
    background-size: cover;
	font-family: 'Manrope', sans-serif;
    /*background-attachment: scroll;*/
}

.z-index-1 {
	z-index: 1;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: rgba(0,0,0,.9);
		padding: .75rem;
    }
}

.navbar-nav .nav-item {
	padding: .5rem;
}

.navbar-nav .nav-item .nav-link, .navbar-nav .nav-item .nav-link:hover {
	color: #fff;
	font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

.btn-nav {
	color: #fff;
    background-color: #377dff;
    border-radius: .35rem;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    display: block;
}

.section1 {
	background-image: url("../images/Group 1000001853.png"), url("../images/Frame1.png");
    background-position: 100% 0, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 30%;
    background-attachment: scroll, scroll;
    padding-top: 150px;
}

.blog-page-header{
	width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
	color: #ff8d7c;
    font-size: 55px;
    font-weight: 500;
    line-height: 66px;
}

.blog-tab-pill {
	color: #f9fafb;
    background-color: #04011e;
    border: 1px solid #f9fafb;
    border-radius: 1rem;
    padding: 5px 20px;
    font-size: 15px;
}

.blog-content {
	margin-top: 0;
}

.blog-content h1 {
	margin-top: 2rem;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 120%;
	color: #ff8d7c;
}

.blog-content p {
	color: #f9fafb;
    margin-top: 20px;
    font-size: 16px;
    line-height: 120%;
	margin-bottom: 10px;
}

.footer {
	padding: 60px 5vw;
}

.footer-icon {
	margin-left: .75rem;
	margin-right: .75rem;
}

.footer-icon img {
	width: 30px;
}

.footer-menu { 
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	padding-right: 0;
	justify-content: center;
}


@media screen and (min-width: 1280px) {
	.footer-menu {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.footer-menu a {
	color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    text-decoration: none;
	display: block;
	text-align: center;
}


/*=======blog card========*/
.blog-page-header-w-100{
	width: 100%;
    margin-bottom: 20px;
	color: #ff8d7c;
    font-size: 55px;
    font-weight: 500;
    line-height: 66px;
}

.blog-page-header-w-100 span{
	color: #fff;
}

.blog-card {
	background-color: #222129;
    padding: 25px;
	color: #fff;
}

.blog-card img {
	width: 100%;
	
}

.blog-card h3 {
	color: #fff;
    margin-top: 18px;
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
}

.blog-card .blog-tab-pill-sm {
	color: rgba(255, 255, 255, .7);
    border: 1px solid #a39ea8;
    border-radius: 1rem;
	background-color: transparent;
    margin-right: 5px;
    padding: 5px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
}

.blog-card p {
	color: #fff;
    margin-top: 20px;
    font-size: 17px;
    line-height: 140%;
}

.blog-card p a {
	color: #ff8d7c;
    text-decoration: none;
}





















